#site {
    background: #0067b8;
    text-align: center;
    width: auto;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
    list-style-type: none;
  }

ul a{
    color: black;
    text-decoration: none;
}

.logo{
    width: 100px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}

.main-menu{
    display: flex;
    gap: 15px;
}

.right-menu{
    display: flex;
    gap: 5mm;
}

.container {
    width: 100%;
    padding-top: 2mm;
}

.first-child {
    display: flex;
}

.footer {
    background-color: rgb(245, 240, 240);
    display: flex;
}

.makeItBold {
    font-weight: bold;
}